<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>contrasenna</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Olvidaste tu contraseña?</ion-title>
    </ion-toolbar>
  </ion-header>
<br>
  <ion-item>
    <ion-label position="floating">Nueva contraseña</ion-label>
    <ion-input type="password"  name="password" required placeholder="Ingrese su contraseña"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">contraseña</ion-label>
    <ion-input type="password"  name="password" required placeholder="Ingrese su contraseña"></ion-input>
  </ion-item>
  

  <ion-button type="submit" expand="full" color="primary" [routerLink]="['/login']">Recuperar la contraseña</ion-button>
</ion-content>
